.line{
position: absolute;
width: 1440px;
height: 0px;
left: 0px;
top: 232px;
border: 3px solid #000000;
}
.burgerbig{
position: absolute;
width: 573px;
height: 344px;
top : 348px;
left : 282px;
}
.title {
position : absolute;
width: 356px;
height: 56px; 
font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
top : 476px;
left : 760px;    
color: #000000;
    
}
.subtitle {
position: absolute;
width: 273px;
height: 34px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 21px;
color: #000000;
top : 539px;
left : 810px;
}
.garis1{
position: absolute;
position: absolute;
width: 335px;
height: 0px;
left: 281px;
top: 671px;
border: 2px solid #000000;
}
.garis2{
    position: absolute;
    width: 335px;
    height: 0px;
    left: 847px;
    top: 671px;
    border: 2px solid #000000;
}
.menu {
position: absolute;
width: 214px;
height: 52px;
left: 624px;
top: 646px;
font-family: Roboto Condensed;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 42px;
text-align: center;
color: #000000;
}
.isimenuA{
    position: absolute;
    width: 185px;
    height: 160px;
    left: 333px;
    top: 766px;
}
.dm1{
    position: absolute;
    width: 148px;
    height: 91px;
    left: 993px;
    top: 780; 
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    
    
}
.container-fluid{
    padding: 0 !important; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

