.login{
    width: 380px;
    height: 460px;
    border: none;
    margin: auto;
    margin-top: 60px;
}
.logoimg{
    width: 90px;
    height: 90px;
}
.input{
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
    border-radius: 20px;
    border: none; 
    display: flex;
    flex-direction: column;
}
.baris1{
    background-color:lightgray;
    width: 250px;
    height: 50px;
    border: none;
    margin: auto;
    margin-bottom: 10px;
    padding-left: 20px;
    font-family: 'Roboto', sans-serif;
    
}
.isian{
    width: 255px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    margin-top: 15px;
}
.signup{
   width: 130px;
   height: 26px; 
   margin: auto;
   margin-top: 20px;
   margin-bottom: 20px;
}
.bt_signup{
    width: 120px;
    height: 26px;
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    border: none;
    background-color: rgb(35, 120, 233);
    color: white;
}
h2{
    width: 300px;
}
.logo{
    width: 90px;
    margin: auto;
}
.register{
    display: flex;
    flex-direction: row;
    margin: auto;
    width: 210px;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}
.container{
    padding : 0;
    margin :0;
    height: 87vh; 
    width :100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover ;
    background-image:url("https://img.techpowerup.org/201027/welcome-back.png");
}